html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font: 16px/1.5 'Main-Font', sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}


.photo__container {
  width: 20vw;
  height: 20vw;
  min-width: 320px;
  min-height: 320px;
  animation: rotate 3s infinite linear;
  margin: 0 0 50px 0;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  animation: shadow 3s infinite linear;
}

.title {
  font-size: 24px;
  margin: 0 0 10px 0;
  text-align: center;
  animation: changeColor 1s infinite linear;
}
.titleName {
  font-size: 28px;
  animation: changeColor 2s infinite linear;
}
.age {
  font-size: 98px;
  margin: 0 0 10px 0;
  line-height: 90px;
  animation: changeColor .3s infinite linear, changeSize .3s infinite linear;
}
.desc {
  font-size: 28px;
  text-align: center;
  animation: changeColor 3s infinite linear;
}

.heart {
  font-size: 90px;
  animation: heartBeat 1s infinite ease;
}

@keyframes changeColor {
  0% {
    color: olivedrab;
  }
  25% {
    color: purple;
  }
  50% {
    color: lightslategray;
  }
  75% {
    color: plum;
  }
  100% {
    color: steelblue;
  }
  }

  @keyframes changeSize {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
    }

@keyframes shadow {
  0% {
    box-shadow: 0 0px 10px 3px pink;
  }
  10% {
    box-shadow: 0 0 10px 10px pink;
  }
  20% {
    box-shadow: 0 0px 10px 3px pink;
  }
  100% {
    box-shadow: 0 0px 10px 3px pink;
  }
  }

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
    backdrop-filter: drop-shadow(4px 4px 10px blue)
  }
  10% {
    transform: rotate(180deg) scale(1.2);
  }
  20% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
  }

  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
    }